name: Kubernetes CI
on:
  push:
    branches:
      - main

jobs:
  pyapp-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: kammana/gha-pyapp:${{ env.SHORT_SHA }}
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: kammana/gha-pyapp:${{ env.SHORT_SHA }}
          severity: CRITICAL,HIGH
          exit-code: 1
      - name: Send Slack Notification
        if: always()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": ":rocket: *GitHub Actions Notification*\nRepository: ${{ github.repository }}\nBranch: ${{ github.ref_name }}\nCommit: <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|View Commit>"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: kammana/gha-pyapp:${{ env.SHORT_SHA }}
      - name: Install yq
        uses: mikefarah/yq@v4.44.3
      - name: Update deployment.yml with latest docker tag
        run: |
          # Short commit hash
          SHORT_SHA=${GITHUB_SHA::7}
          # Update image tag in deployment.yaml
          yq -i '.spec.template.spec.containers[0].image = "kammana/gha-pyapp:'"$SHORT_SHA"'"' ./k8s/pyapp-deployment.yml
      - name: Commit deployment file changes
        run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions@noreply"
            git add k8s/pyapp-deployment.yml
            git commit -m 'docker tag updated by GHA' || echo "Already commited changes"
            git push origin main
